/* VARIABLES */

$White: #E5EBEA;
$Light-gray: #dbdbdb;
$Grayish-blue: #59ce2b;
$Dark-blue: #79ce2b;

$primary-font: 'Outfit';

$font-sm: 1.5rem;
$font-md: $font-sm + 0.4rem;
$font-lg: $font-md + 0.4rem;

$border-radius-default: 10px;

/* /VARIABLES */