/* VARIABLES */

$White: #E5EBEA;
$Light-gray: #747572;
$Grayish-blue: #B098A4;
$Dark-blue: #45503B;

$primary-font: 'Outfit';

$font-sm: 1.5rem;
$font-md: $font-sm + 0.4rem;
$font-lg: $font-md + 0.4rem;

$border-radius-default: 10px;

/* /VARIABLES */